@using DisConf.Web.Models.Shared
@model DisConf.Web.Service.Model.BizResult<DisConf.Web.Models.App.AppDetailModel>
@{
    ViewBag.Title = "应用配置信息";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.HasError)
{
    <h3>错误：@Model.Error.Message</h3>
}
else
{
    <h2>@string.Format("{0}配置信息", @Model.Data.AppInfo.Name)</h2>
    <div class="row">
        <div class="col-md-6">
            @Html.RouteLink("创建配置项", "CreateConfig", new { appName = Model.Data.AppInfo.Name, envName = Model.Data.CurrentEnv.Name }, new { @class = "btn btn-default" })
        </div>
        <div class="col-md-6">
            <div class="btn-group pull-right">
                <button type="button" data-toggle="dropdown" class="btn btn-default dropdown-toggle">@Model.Data.CurrentEnv.Name<span class="caret"></span></button>
                <ul class="dropdown-menu">
                    @foreach (var env in Model.Data.AllEnv)
                    {
                        <li>@Html.RouteLink(env.Name, "AppDetail", new { appName = Model.Data.AppInfo.Name, envName = env.Name }, new { })</li>
                    }
                </ul>
            </div>
        </div>
    </div>
    
    <table class="table table-striped table-hover " style="word-break: break-all; word-wrap: break-word;">
        <thead>
            <th style="width: 10%">ID</th>
            <th style="width: 35%">名称</th>
            <th style="width: 35%">值</th>
            <th style="width: 10%">起效数量</th>
            <th style="width: 10%">操作</th>
        </thead>
        <tbody>
            @if (Model.Data.Configs.Items != null)
            {
                foreach (var config in Model.Data.Configs.Items)
                {
                <tr>
                    <td>@config.Id</td>
                    <td>@Html.RouteLink(config.Name, "ConfigLogs", new { appName = Model.Data.AppInfo.Name, envName = Model.Data.CurrentEnv.Name, configId = config.Id }, new { })</td>
                    <td>@config.Value</td>
                    <td>@config.SyncCount</td>
                    <td>
                        @Html.RouteLink("编辑值", "UpdateConfig", new
                        {
                            appName = Model.Data.AppInfo.Name,
                            envName = Model.Data.CurrentEnv.Name,
                            configName = config.Name
                        })

                        <a href="#" data-toggle="modal" data-target="#@string.Format("tDeleteModal-{0}", config.Id)">删除</a>
                        <div id="@string.Format("tDeleteModal-{0}", config.Id)" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="@string.Format("tDeleteModalLabel-{0}", config.Id)">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    @using (Html.BeginForm("DeleteConfig", "App", FormMethod.Post, null))
                                    {
                                        @Html.Hidden("id", config.Id)

                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="@string.Format("tDeleteModalLabel-{0}", config.Id)">删除配置
                                            </h4>
                                        </div>
                                        <div class="modal-body">
                                            确定要删除 <strong>@Model.Data.CurrentEnv.Name </strong>环境下配置 <strong>@config.Name</strong> ？
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                            <button class="btn btn-primary" type="submit">确定</button>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                }
            }
        </tbody>
    </table>
    
    @Html.Partial("PaginationPartialView", new PaginationViewModel()
    {
        PagedList = Model.Data.Configs,
        GenerateUrlFunc = (index) => Url.Action("App", new { appDetailPageIndex = index })
    })

    <div class="row">
        <div class="col-md-6">
            @Html.RouteLink("所有配置项", "Configs", new { appName = Model.Data.AppInfo.Name, envName = Model.Data.CurrentEnv.Name }, new { @class = "btn btn-default" })
        </div>
        <div class="col-md-6" style="text-align: right">
            <button type="button" class="btn btn-danger pull-right" data-toggle="modal" data-target="#tRefreshModal">
                强制刷新
            </button>
        </div>
    </div>
    
    
    <div id="tRefreshModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="tRefreshModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                @using (Html.BeginForm("ForceRefreshConfig", "App", FormMethod.Post, null))
                {
                    @Html.Hidden("appName", Model.Data.AppInfo.Name)
                    @Html.Hidden("envName", Model.Data.CurrentEnv.Name)

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="tRefreshModalLabel">强制刷新配置
                        </h4>
                    </div>
                    <div class="modal-body">
                        确定要 <em>刷新</em> <strong>@string.Format("应用:{0}  环境:{1}", Model.Data.AppInfo.Name, Model.Data.CurrentEnv.Name)</strong> ？
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button class="btn btn-primary" type="submit">确定</button>
                    </div>
                }
            </div>
        </div>
    </div>
}