@using DisConf.Web.Models.Shared
@model DisConf.Web.Service.Model.BizResult<DisConf.Web.Model.PageList<DisConf.Web.Model.User>>
@{
    ViewBag.Title = "用户列表";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>用户列表</h2>

@if (Model.HasError)
{
    <h3>错误：@Model.Error.Message</h3>
}
else
{
    @Html.RouteLink("创建用户", "CreateUser", new { }, new { @class = "btn btn-default" })
    <table class="table table-striped table-hover ">
        <thead>
            <th>ID</th>
            <th>名称</th>
            <th>操作</th>
        </thead>
        <tbody>
            @foreach (var user in Model.Data.Items)
            {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.UserName</td>
                    <td>

                        <a href="#" data-toggle="modal" data-target="#@string.Format("tDeleteModal-{0}", user.Id)">删除</a>
                        <div id="@string.Format("tDeleteModal-{0}", user.Id)" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="@string.Format("tDeleteModalLabel-{0}", user.Id)">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    @using (Html.BeginForm("DeleteUser", "User", FormMethod.Post, null))
                                    {
                                        @Html.Hidden("userId", user.Id)

                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="@string.Format("tDeleteModalLabel-{0}", user.Id)">删除用户
                                            </h4>
                                        </div>
                                        <div class="modal-body">
                                            确定要删除 <strong>@user.UserName</strong> ？
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                            <button class="btn btn-primary" type="submit">确定</button>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>

                    </td>
                </tr>
            }
        </tbody>
    </table>
    
    @Html.Partial("PaginationPartialView", new PaginationViewModel()
    {
        PagedList = Model.Data,
        GenerateUrlFunc = (index) => Url.Action("Users", new { usersPageIndex = index })
    })
}
